<h2>Edit User</h2>
<div class="container">
    <table>
        <tr>
            <td>Customer Name:</td>
            <td>
                <input type="text" data-ng-model="currentCustomer.name" /></td>
        </tr>
        <tr>
            <td>Customer Address:</td>
            <td>
                <input type="text" data-ng-model="currentCustomer.address" /></td>
        </tr>
        <tr>
            <td>Customer City:</td>
            <td>
                <input type="text" data-ng-model="currentCustomer.city" />
            </td>
        </tr>
        <tr>
            <td>Customer Pin:</td>
            <td>
                <input type="text" data-ng-model="currentCustomer.pin" />
            </td>
        </tr>
        <tr>
            <td>
                <button>Save</button>
            </td>
            <td></td>
        </tr>
    </table>
</div>
