<div class="container">
    <table>
        <tr>
            <td>Customer Name:</td>
            <td>
                <input type="text" data-ng-model="newCustomer.name" /></td>
        </tr>
        <tr>
            <td>Customer Address:</td>
            <td>
                <input type="text" data-ng-model="newCustomer.address" /></td>
        </tr>
        <tr>
            <td>Customer City:</td>
            <td>
                <input type="text" data-ng-model="newCustomer.city" />
            </td>
        </tr>
        <tr>
            <td>Customer Pin:</td>
            <td>
                <input type="text" data-ng-model="newCustomer.pin" />
            </td>
        </tr>
    </table>
</div>
